body{
    max-width: 1140px;
    margin: 0 auto;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.common-color{
    color: #4E47FF;
}
/* nav style  */
.bg-image{
    height: 100vh;
    background-image: url(../web-flow/image/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav ul li {
    list-style: none;
}
nav ul li a{
   text-decoration: none;
   color: red;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    font-size: 34px;
    color: #4E47FF;
}
.btn-primary{
    background: blue;
    padding:28px 100px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
   
    background: red;
    color: rgb(43, 226, 98);
    transition: 4s;
}
 .banner{
    display: flex;
    align-items: center;
    text-align: center;
    
   flex-direction: column;
   
} 
.banner h1{
    font-size: 75px;
    font-weight:700;
    color:#252432;
    text-align:center;
    margin-top: 158px;
    
}
.btn-heading{
     padding:30px 90px;
     margin-bottom: 152px;
}

/* action part */
.action-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.action-img{
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.action-description{
     font-size: 24px;
     line-height: 30px;
    font-weight: 400;
    color: #252432;
    width: 516px;
    margin-bottom: 30px;
}
.btn-action{
    padding: 25px 60px;
}
/*  user part */
.user{
    margin-top: 100px;
}
.user-box{
    background: hwb(242 67% 13%);
    height: 360px;
    border-radius: 24px;
    text-align: center;
    
}
.user-title{
   padding-top: 50px;
   font-size: 38px;
   font-weight: 700;
   color: #252432;
   text-align: center;
}
.user-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-like{
    font-size: 50px;
    font-weight: 700;
    color: #4E47FF;
}
.user-rate{
    font-size: 24px;
    font-weight: 400;
    color: #0000007b;
}
/*   client  */
.client{
    margin-top: 200px;
    
}
.client-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.client-box{
    width: 300px;
    height: 243px;
    background: #e0d8d8;
    padding: 24px;
    border-radius: 10px;
    
}
.client-heading{
    font-size: 24px;
    font-weight: 600;
}
.client-description{
    font-size: 18px;
    font-weight: 400;
}
.client-person{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.client-data{
    display: flex;
    align-items: center;
    gap: 12px;

}

.client-name{
    font-size: 16px;
    font-weight: 800;
    
}
.client-date{
    font-size: 16px;
    font-weight: 400;
}
.client-part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/*    form part */
.form-part{
    margin-top: 200px;
    
}
.form-title{
    font-size: 97px;
    width: 528px;
}
.form-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input{
    background: #ccc4c436;
    padding: 20px 172px 20px 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.btn-submit{
    padding: 15px 25px;
    background: blue;
    color: #ffff;
    border-radius: 5px;
    width: 100%;
    border: none;
}
/* footer style */
footer{
    margin-top: 200px;
}
.footer-title{
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
}
.footer-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #8987A1;
    text-align: center;
    margin-left: 25%;
    width: 532px;
    height: 48px;
}
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 27%;
    gap: 30px;
}
.modal-footer li{
    list-style: none;
}
.modal-footer li a{
    text-decoration: none;
    color: #252432;
    font-size: 16px;
}